COMPOSE_PROJECT_NAME=project

# "docker-compose.yml:docker-compose.prod.yml" for prod
COMPOSE_FILE=

DOCKER_UID=1000
DOCKER_ADDRESS=172.17.0.1

# "dev" or "prod"
SYMFONY_ENV=dev

# "develop" or "production"
MARKUP_ENV=develop
MARKUP_PORT=4000

# 0.0.0.0 for external access
NGINX_HOST=127.0.0.1
NGINX_PORT=80

TIMEZONE=Europe/Moscow