.DS_STORE
thumbs.db
/*.sublime-project
/*.sublime-workspace

.env
.idea

/src/Model/Base
/src/Model/Map
/public/uploads/
/public/cache/
/public/js/
/public/css/
/public/fonts/
/public/images/
/public/sprites/
/public/video/
/public/sitemap.xml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###