/.idea/
/*.sublime-project
/*.sublime-workspace
thumbs.db

/app/config/parameters.yml
/app/propel/
/bin/symfony_requirements
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
/web/cache/
/web/js/
/web/css/
/web/fonts/
/web/images/
/web/sprites/
/web/video/
/web/uploads/*
/web/sitemap.xml
/web/config.php
/markup/
/src/AppBundle/Model/Base/
/src/AppBundle/Model/Map/